<div class="row row2" id="row2">
            <div class="col-xs-12 abouttitle"><h1>About Us</h1><br /><br />
                 <div class="row">
            <div class="col-xs-6 about"><div class='kongsoo'><p><strong>Kong Soo Sul</strong> is our primary art. It is a complete martial arts system that integrates martial arts techniques from the 3 circles of self-defense: </p><br />
            <ol>
                <li>Large Circle (Stand up techniques)--Striking techniques derived from Classic Tae Kwon Do (Kong Soo Do/Tang Soo Do) and Korean Kickboxing (Kwon Kyuk Do). </li>
                <li>Small Circle (Clinch/In Close techniques)--Striking, joint locking, grappling, and throwing techniques derived from HapKiDo and Korean Judo (Yudo). </li>
                <li>Flat Circle (Ground techniques)--Striking, joint locking, and submission/combative wrestling techniques derived from Korean Jujutsu (Yusul). </li>
            </ol>
            </div></div>
            <div class="col-xs-6 JMK1"><h3 id="usjmka">The United States Jung Moo Kwan Association</h3> 
            <div class="col-xs-3 images"><img id="chung" src="/assets/images/chung.jpg" value="Master Wan Yung Chung"><h4>Master Wan Yung Chung</h4></img></div> <div class="col-xs-9"><article><p>Jung Moo Kwan (JMK) – an organization of traditional Korean Martial Arts - was introduced into the United States in the 1960s by Korean Martial Arts Master <strong>Wan Yung Chung</strong>.</p>  
            <p>Master Chung had received advanced dan rankings from the Chung Do Kwan and the Oh Do Kwan after many years of training in South Korea in Korean Karate (originally called Kong Soo Do and Tang Soo, 
            and later known as Tae Kwon Do), and in Hap Ki Do, and was ranked as an 8th dan at his retirement.</p> <p>The Jung Moo Kwan ("righteous martial arts institute") in the United States offered instruction 
            in Tae Kwon Do and Hap Ki Do. Master Chung's organization in the U.S. was known as Universal Consolidated Martial Arts Jung Moo Kwan, and the Jung Moo Kwan has been listed by the World KiDo 
            Federation of South Korea as one of thirty-one authentic kwans certified to teach traditional Korean martial arts.</p></article></div></div><br />
              <hr></div>
                <div class="row owen"><article> <p>The foundation of training in the Jung Moo Kwan style of Korean Karate was originally referred to as Kong Soo Do, Tang Soo Do, So Rim mit So Ryong Yu Kwon Bop, 
                and later as the original version of Tae Kwon Do (generally known today as “Classic Tae Kwon Do”). In addition to the influence of Okinawan Karate, Korean Karate is also heavily influenced 
                by the indigenous Korean martial arts of Su Bak and Taek Kyon. Jung Moo Kwan Hap Ki Do in the United States as taught by Master Chung has descended from the Seong Moo Kwan and the Shin Moo Kwan.</p><br />
                <p><strong>Dr. Charles Owens</strong> (Jung Moo Kwan Dan Certificate no. 31), Master Chung's senior Black Belt, became the official U.S. representative of the Jung Moo Kwan in 1999, at which time he formed the U.S.
                Jung Moo Kwan Association. In 1998 (3-1-98) Dr. Owens was certified as a 7th Dan by the Korean KiDo Association and the World KiDo Federation (certificate no. 98-7-9) and listed as kwan jang in their
                1998 textbook of Traditional Korean Martial Arts. Although a 9th Dan in Tae Kwon Do (sorim mit soryong yu), Dr. Owens made the decision to adopt a version of the original name of the art, Kong Soo Sul
                (Korean Karate-Jutsu). He was certified as a 10th Dan in Kong Soo Do by the World Korean Martial Arts Union (certificate no. 022803-10-1), presided over by Supreme Grandmaster Chang H. Park, a former 
                official of the original Korea Tae Kwon Do Association (KTA). Kong Soo Sul emphasizes hyung (kata) training, focusing on energetic application (punhae/bunkai) of the form. When properly executed and applied, 
                Classic Tae Kwon Do, Kwon Bop Sul, Hyel Do Sul, and Ji Ab are utilized in the application (punhae/bunkai) of hyung (kata).</p>
                </article>
                
                </div><br />
                   
                      
                    <figure><img id="dadkarate" src="/assets/images/DadKarate.jpg"></img><figcaption>Grandmaster Dr. Charles Owens</figcaption></figure> 
            </div> 
    </div>