<div class="container-fluid toprow responsive" >
        <div class="row ">
            
            <div class="col-xs-6 colleft"><span id="welcome">Welcome to</span><br /> <p class="animated zoomIn">JMK Martial Arts & Fitness!</p><img src="/assets/images/jmk.jpg" id="jmk" alt="JMK"></img></div>
            <div class="col-xs-6 colright scroll"><p class="scroll animated fadeInUp"><strong id="purpose">Our purpose is simple.</strong><br /><br />We aim to enhance each student’s physical, emotional, intellectual, social, and character development by teaching real,
            self-defense oriented martial arts, valuable life skills, and guiding principles that are essential to a healthy and well-balanced lifestyle. Our goal is to help each student become more than they
            thought they could become, and to help them always be ready for the challenges of life.<br /><br />Our vision is to create a positive champion culture one student at a time<br />
            Thank you for visiting our website.  We look forward to helping you reach your goals.</marquee></p></div>
        </div> 
    </div>